/* header */
.header {
    display: flex;
    border: none;
    background-color: black;
    /* ប្រើសម្រាប់ដាក់គម្លាត់អក្សចេញពីរគ្នា */
    justify-content: space-between;
}

.header .card {
    /* ប្រើសម្រាប់ដោះប្រអប់ចេញ */
    border: none;
    background-color: black;
    color: white;
    display: flex;

}

.header .card h3 {
    padding: 10px;
    font-size: 15px;
}

.header .card h3 i {
    /* ប្រើសម្រាប់រំកិលអក្សចេញខាងក្នុង */
    padding: 5px;
}
.header .card h3  a i{
    color: white;
     text-decoration: none;
}
/* container */
.container{
    background-color: whitesmoke;
    /* ប្រើសម្រាប់រំកិលអក្សរទៅខាងស្ដាំ */
    display: flex;
    /* ប្រើសម្រាប់រំកិល objectទាំងមកកណ្ដាល */
    align-items: center;
    /* ប្រើសម្រាប់ដាក់គម្លាត់logoនិងអក្សរអោយឆ្ងាយពីរគ្នា */
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 8px 0px black;
    margin-top: 5px;
}
.container.logo {
    width: 30%;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    padding: 2px;
}
/* menu */
.menu-icon{
    margin-right: 20px;
    cursor: pointer;
    display: none; 
}
.menu{
    list-style: none;
    display: flex;
    gap: 25px;
    padding: 8px;
    margin-top: 15px;
    
}

.menu a {
    text-decoration: none;
    font-size: 17px;
   margin-bottom: 30px;
}

.menu li a:hover{
    background-color: orange;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.menu li a i {
     margin-left: 50px;
    align-items: flex-end;
    font-size: 15px;
    gap: 10px;
    justify-content: space-between;
    color: rgb(83, 80, 80);
    
}

.first{
    font-family:'Times New Roman', Times, serif;
    text-align:start;
    padding-left: 80px;
    

}
.para1{
    font-family: 'Times New Roman', Times, serif;
    padding-left: 80px;
    font-size: 18px;
}
.sec{
    padding-left: 80px;
}

.third{
    text-align: center;
    color:navy;

}
.icontainer{
    display: flex;
    
    justify-content: space-between;
    
    
}
.icontainer img{
    width:300px;
    padding-left: 80px;
    height:400px;

}
.core{
    text-align: center;
    color: navy;
}
.trust{
    padding-left: 200px;
    font-weight: bold;
}
.value{
    padding-left: 60px;
}
.founder{
   text-align: center;
    color: navy;
}
.campus img{
width: 45%;
height:320px;
margin-left: 40px;
}
.main{
    text-align: center;
    color: navy;
}
.main-campus{
    text-align: center;
}
.campus1 img{
    width:43%;
   height:320px;
   margin-left: 390px;
}
.last-campus img{
    width:44%;
    height:320px;
}
    /* founder */

.founderr img{
   width:200px;
    padding-left: 0px;
    height:250px;
     object-fit: cover;
      border-radius: 10px;
    
   
  
}
.founderr{
    
     display: flex;
     gap:50px;
     justify-content:center;
     flex-wrap: wrap;
     margin-top: 10px;
}
.our-founder{
    text-align: center;
    color: navy;
  
}
.in{
    text-align: center;
    
}

.in .ceo{
    padding-left:110px;
     font-weight: bold;
}
.president{
     padding-left:130px;
     font-weight: bold;
}
.partners-section {
    text-align: center;
    padding: 60px 20px;
    background-color: #fcfcfc; 
    font-family: Arial, sans-serif;
}


.partners-title {
    color: #b5944b; 
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.partners-subtitle {
    color: #222222;
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 35px;
}
.logo-card{
      display: flex;
  right:1px;
   width:50px;
   
}
.logo-card img{
    width:100px;
    height:100px;
    
    margin-right: 70px;
    display: flex;
}
@media screen and (max-width:768px) {
    .menu{
        display: none;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 94%;
        background-color: white;
        z-index: 1;
        flex-direction: column;
        padding: 2px;
    }
    .menu-icon{
        display: block;

    }
    .menu.active{
        display: flex;
    }
}