/* header */
.header {
    display: flex;
    border: none;
    background-color: black;
    /* ប្រើសម្រាប់ដាក់គម្លាត់អក្សចេញពីរគ្នា */
    justify-content: space-between;

}

.header .card {
    /* ប្រើសម្រាប់ដោះប្រអប់ចេញ */
    border: none;
    background-color: black;
    color: white;
    display: flex;

}

.header .card h3 {
    padding: 10px;
    font-size: 15px;
}

.header .card h3 i {
    /* ប្រើសម្រាប់រំកិលអក្សចេញខាងក្នុង */
    padding: 5px;
}
/* container */
.container{
    background-color: whitesmoke;
    /* ប្រើសម្រាប់រំកិលអក្សរទៅខាងស្ដាំ */
    display: flex;
    /* ប្រើសម្រាប់រំកិល objectទាំងមកកណ្ដាល */
    align-items: center;
    /* ប្រើសម្រាប់ដាក់គម្លាត់logoនិងអក្សរអោយឆ្ងាយពីរគ្នា */
    justify-content: space-between;
    width: 100%;
    box-shadow: 0px 0px 8px 0px black;
    margin-top: 5px;
}
/* meun */
.menu{
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 8px;
    margin-top: 15px;

}
.menu a{
    text-decoration: none;
    font-size: 17px;
    margin-bottom: 30px;
}
.menu li a:hover{
    background-color: orange;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    color: white;
}
.menu li a i{
    margin-left: 50px;
    align-items: flex-end;
    font-size: 15px;
    gap: 10px;
    justify-content: space-between;
    color: rgb(83, 80, 80);
}
/* banner */
.banner img{
    width: 100%;
    margin-top: 10px;
    /* margin-left: 100px; */
}
.logo img{
    width: 70px;
    height: 70px;
    border-radius: 10px;
    padding: 2px;
}
.menu-icon{
    margin-right: 20px;
    cursor: pointer;
    display: none;
}
.title{
    margin-top: 25px;
    padding: 10px;
}
/* .product */
.product{
    display: flex;
    width: 100%;
}
.product .card{
    flex-wrap: wrap;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 2px;
}
.card img{
    width: 195px;
    height: 210px;
    margin-left: 40px;
    border-radius: 5px;
}
.card p{
    text-align: center;
} 
.card h1{
    color: cadetblue;
    text-align: center;
}
.card h6{
    text-align: center;
    padding: 5px;
}
.card .icon{
    color: gold;
    text-align: center;
    margin-top: 8px;
}
button{
    width: 100%;
    padding: 10px;
    background-color: aqua;
    color: aliceblue;
    border: none;
    border-radius: 5px;
}
.card .fav{
    color: red;
    text-align: end;
    top: 13px;
    right: 5px;
    position: absolute;
}
.category{
    width: 100%;
    height: 135px;
    display: flex;
    gap: 25px;
    margin-left: 70px;
    margin-top: 30px;
}
.map-section h2{
    text-align: center;
    padding: 30px;
    margin-top: 200px;
}
.map-section iframe{
    margin-left: 40px;
}

/* screen for responsive for moblie */
@media screen and (max-width: 786px) {
    .menu{
        display: none;
        position: absolute;
        top: 70px;
        left: 0px;
        width: 94%;
        background-color: white;
        z-index: 1;
        flex-direction: column;
        padding: 2px;
    }
    .menu-icon{
        display: block;
    }
    .menu.active{
        display: flex;
    }
}




